h1 {
    color:white;
    font-size:35px;
    font-family:sans-serif;
    font-weight:300;
    text-align:center;
}

#background{
    background-image:linear-Gradient(#3d176c,#8F91C6,#f9e18a); 
    width: 100vw;
    height:2000px;
    top:-20px;

} 
.content {
    position: relative;
    z-index: 100;
}

.background {
    position: absolute;
    z-index: -100;
}
#intro_blurb {
    width:600px;
    height:auto;
    background-color:transparent;
    margin-top:40px;
    margin-bottom:40px;
    margin-left:auto;
    margin-right:auto;
}

#sleep_ss{
    margin-left:calc(50vw - 200px);
    width:400px;
    height:auto;
    position:relative;
    margin-top:40px;
}

#sleep_ss img{
    border-radius:30px;
    width:400px;
    height:auto;
}

#fitbit_button {
    margin-left:calc(50vw - 200px);
    width:400px;
    height:auto;
    position:relative;
    margin-top:40px;
}

#fitbit_button img{
    border-radius:90px;
    width: 400px;
    height: auto;
}

#fitbit_button img:hover {
    box-shadow: 0px 5px 5px black;
}

/* might try to transition page down to second portion on click */

#line {
    margin-left:calc(50vw - 3px);
    width:6px;
    height:100px;
    position:relative;
    background-color:grey;
}