h1 {
    color:white;
    font-size:35px;
    font-family:sans-serif;
    font-weight:300;
    text-align:center;
}

#background{
    background-image:linear-Gradient(#3d176c,#8F91C6,#f9e18a); 
    width: 100vw;
    height: 1790px;
    top:-20px;

} 
.content {
    position: relative;
    z-index: 100;
}

.background {
    position: absolute;
    z-index: -100;
}
#intro_blurb {
    width:600px;
    height:auto;
    background-color:transparent;
    margin-top:40px;
    margin-bottom:40px;
    margin-left:auto;
    margin-right:auto;
}

#sleep_ss{
    margin-left:calc(50vw - 200px);
    width:400px;
    height:auto;
    position:relative;
    margin-top:40px;
}

#sleep_ss img{
    border-radius:30px;
    width:400px;
    height:auto;
}

a img {
    display: block;
    margin-left:calc(50vw - 200px);
    width:400px;
    height:auto;
    position:relative;
    margin-top:40px;
    border-radius:90px;
    width: 400px;
    height: auto;
}



a img:hover {
    box-shadow: 0px 5px 5px rgb(34, 34, 120);
}


html {
    scroll-behavior: smooth;
  }
  
  body {
    scroll-behavior: none;
  }
  
  body:target {
    scroll-behavior: auto;
    padding-top: 100vh;
    margin-top: -100vh;
  }
  
#line {
    margin-left:calc(50vw - 3px);
    width:6px;
    height:550px;
    background-color:grey;
}

.reminder-button {

    display: block;
    margin-left:calc(50vw - 200px);
    width:400px;
    border-radius:90px;
    width: 400px;
}

#phone-icon{
    width: 330px;
    height: 365px;
    margin-top: 85px;
    margin-left: calc(35vw - 200px);
 }
      
.bottom-content{
    color:#671D5E;
    font-size:35px;
    font-family:sans-serif;
    font-weight:300;
    text-align:center;
    margin-top: -400px; 
    margin-left:  calc(55vw - 3px);
    padding-right: 50px;
}





  
